@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Exo 2", sans-serif;
  background-image: url(low-poly-grid.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-weight: 500;
}

h1 {
  text-align: center;
}

.homework-item {
  background: rgb(112,24,243);
  background: linear-gradient(90deg, rgba(112,24,243,1) 0%, rgba(175,17,180,1) 100%);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.homework-item {
  transform: scale(1.1);
}
input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}


button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 10px;
  
}

button:hover {
  background-color: #45a049;
}
a {
  color: white;
}
